.wrapper {
  backdrop-filter: blur(10px) saturate(140%);
  border-radius: 1rem;
  bottom: var(--offset);
  display: grid;
  grid-template-columns: 1fr;

  /* flex-direction: column; */
  grid-template-rows: 1fr;
  left: var(--offset);
  padding: 10rem;
  position: absolute;
  right: calc(100% - var(--contentWidth) - (var(--offset)));
  text-align: right;
  top: calc(100% - var(--contentHeight) - (var(--offset)));
  z-index: 0;

  &::before {
    background-color: var(--color-white);
    border-radius: inherit;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  @media (--medium-height) {
    padding-bottom: 3rem;
    padding-top: 5rem;
  }

  @media (--tablet) {
    padding: 6rem;
  }

  @media (--mobile) {
    margin: var(--offset);

    /* min-height: 68rem; */
    padding: 6rem 4rem;
    position: static;
  }

  @media (--tiny-mobile) {
    padding: 6rem 2rem;
  }
}

.preHeading {
  overflow: hidden;
  text-align: right;

  span {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.25em;
    margin-right: 4rem;
    padding: 0 3rem;
    position: relative;
    text-transform: uppercase;

    &::before,
    &::after {
      background-color: var(--color-black);
      content: '';
      height: 1px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 50rem;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }

    @media (--mobile) {
      margin-right: 1rem;
      padding: 0 1.5rem;
    }
  }
}

.text {
  color: var(--color-black);
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 2em 0;
  opacity: 0.7;
  text-align: justify;

  @media (--mobile) {
    font-size: 1.4rem;
    margin: 2rem 0;
    text-align: left;
  }
}

.heading {
  align-items: flex-end;
  display: flex;
  flex-flow: column nowrap;
  line-height: 0.9;

  span {
    color: var(--color-black);
    font-weight: 900;

    &:first-child {
      font-size: 11.8rem;
      letter-spacing: -0.025em;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: var(--color-black);
      -webkit-text-stroke-width: 2px;

      @media (--mobile) {
        font-range: 320px 767px;
        font-size: responsive 54px 140px;
      }

      @media (--tiny-mobile) {
        -webkit-text-stroke-width: 1px;
      }
    }

    &:last-child {
      font-size: 8rem;
      letter-spacing: -0.025em;
      padding-right: 2.5rem;
      position: relative;

      &::before {
        background-image: url('/assets/images/earth.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        height: 100%;
        margin-right: 2rem;
        position: absolute;
        right: 100%;
        top: 0;
        width: 5.4rem;
      }

      @media (--mobile) {
        font-range: 320px 767px;
        font-size: responsive 48px 80px;

        &::before {
          width: 3.2rem;
        }
      }
    }
  }
}

.content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 2;

  &-inner {
    flex: 1 1 auto;
  }
}

.contacts {
  align-items: flex-end;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  margin-top: 4rem;

  a {
    color: var(--color-blackRgba);
    flex: 0 0 auto;
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: auto;
    position: relative;
    text-decoration: none;
    transition: opacity 250ms ease-out;
    z-index: 0;

    &:first-of-type {
      font-size: 1.8rem;
    }

    &:last-of-type {
      margin-top: calc(var(--spacer));
    }

    &::after {
      backface-visibility: hidden;
      background-color: var(--color-text-faded);
      content: '';
      height: 2px;
      left: 0;
      opacity: 0.2;
      perspective: 1000px;
      position: absolute;
      top: 100%;
      transform: scaleY(0);
      transform-origin: left bottom;
      transition: transform 150ms ease-out;
      width: 100%;
      z-index: -1;
    }
  }

  a:focus,
  a:hover {
    filter: grayscale(0);
    outline: 0;

    &::after {
      color: var(--color-black);
      transform: scaleY(6);
    }
  }
}

.background {
  background: var(--color-white);
  border-radius: 1rem;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.border {
  border: 3px solid var(--color-black);
  border-radius: 1rem;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.sea-waves {
  bottom: 3rem;
  left: 3rem;
  pointer-events: none;
  position: absolute;
}

.logo {
  color: var(--color-white);
  display: grid;
  font-size: 3.2rem;
  font-weight: 900;
  margin: calc(var(--spacer) * 10) 0;
  place-items: center;
  width: 100%;

  @media (--mobile) {
    margin: var(--offset) auto;
    position: static;
    transform: none;
  }
}
